.grafico
   width: 500px
.donutchart
    display: flex
    align-items: center
    justify-content: center

@media screen 
        @media (max-width:1000px)
            .grafico
               width: 300px
               margin-left: -100px