.grafico
    // background-color: red
    width: 100%
    // background-color: red
    
    display: flex
    align-items: center
    justify-content: end
    margin-top: 50px
    margin-right:100px
.donutchart
    display: flex
    align-items: center
    justify-content: center
   